.dist
.vscode

frontend/node_modules
frontend/.gitignore
frontend/eslint.config.js
frontend/package-lock.json
frontend/README.md 
frontend/vite.config.js
frontend/package.json
backend/__pycache__
backend/database.db
*.pyc
backend/requirements.txt