
/*
Header styles
Author: Jaroslav Mervart
*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background: royalblue;
  color: white;
  border-bottom: 2px solid #0b1957;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

/* limit content width */
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 16px;
}

.header-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 900;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-items>a,
.header-items button {
  width: 4rem;
  height: 2.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  font-size: 1.6rem;
  line-height: 1;
  cursor: pointer;
  flex-shrink: 0;

  border-radius: 10px;
}


.header-items>a:hover, .header-items>button:hover{
  color: #ff6b6b;
}
