.achieve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  text-align: center;
  font-family: sans-serif;

  background: royalblue;
  height: 100vh;
  /* fix scrollbar issue */
  overflow: hidden;           /* hides unwanted scrollbar */
  margin: 0;                  /* reset any default spacing */
  box-sizing: border-box;     /* safe sizing */
}

button {
  padding: "8px 14px";
  margin-bottom: 16px;
  font-size: 14pt;
}
